.homepage-header {
  position: absolute;
}

.homepage-hero {
  background-image: url('images/pic_1.jpg');
  background-size: cover;
  background-position: center center;
}

.smile {
  height: 30PX;
}

.smile-school {
  height: 30px;
}

/* .card-size {
  width: 150px;
} */

.homepage-hero .small-img {
  width: 150px;
  height: auto;
}

.carousel img {
  width: 150px;
}