.homepage-header {
  position: absolute;
  width: 100%;
  z-index: 1000;
}

.navSize {
  width: 100%;
}

.homepage-hero {
  background-image: url('images/pic_1.jpg');
  background-size: cover;
  background-position: center center;
}

.smile {
  height: 30PX;
}

.smile-school {
  height: 30px;
}

/* .card-size {
  width: 150px;
} */

.homepage-hero .small-img {
  width: 150px;
  height: auto;
}

.carousel img {
  width: 150px;
}

.weather,
.purple-btn .btn-success {
  background-color: #C271FF;
  border-color: #C271FF;
}

.purple-btn .btn-success:hover,
.purple-btn .btn-success:active {
  background-color: #C271FF;
  opacity: 0.9;
  border-color: #C271FF;
}

.purple-btn .btn-success:focus {
  background-color: #C271FF;
  box-shadow: 0 0 0 0.2rem rgba(205, 51, 229, 0.5);
  border: none;

}

.weather a img,
.video a img {
  height: 63px;
  width: auto;
}

.position-relative {
  position: relative;
}

/* .homepage-hero .card-columns .card {
  width: 150px;
} */

.video h3 {
  color: #071629;

  font-family: "Source Sans Pro";
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.video p {
  color: rgba(7, 22, 41, 0.50);

  font-family: "Source Sans Pro";
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
}

.video .xs-img {
  width: 30px;
}

.video .small-star {
  height: 15px;
  width: auto;
}

.video .text-purple {
  color:#C271FF;
}

/* .video .img-text {
  width: 242px;
  height: 48;
} */
.membership,
footer {
  background-color: #071629;
}

.membership .smile_on-area {
  width: 45px;
}

.membership p {
  max-width: 215px;
}

/*  */
/* ................ Pricing .......................... */
/*  */

.pricing-header {
  position: absolute;
}

.pricing-hero {
  background-image: url('images/pic_2.jpg');
  background-size: cover;
  background-position: center center;
}

.row-divider {
  border-bottom: 1px solid #a8a8a8;
}